.article-img {
  margin-bottom: 60px;
  height: 350px;
  width: 843px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.content-container {

  .title {
    color: rgb(185, 20, 50);
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }

  .meta {
    margin-bottom: 24px;
  }

  .article-text {
    line-height: 24px;
  }

  .social-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;

    .share-btn {
      color: rgb(185, 20, 50);
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      width: 50px;
    }

    .share-icon {
      margin-top: -6px;
      margin-left: 10px;
      width: 32px;
      height: 32px;
    }

    img {
      margin-top: -6px;
      margin-left: 30px;
    }
  }

  .readMore-btn {
    background: rgb(185, 20, 50);
    width: 210px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 24px 0 24px 0;
    line-height: 1;
  }
}

.my-pagination /deep/ .ngx-pagination .current {
  background: red;
}

.my-pagination /deep/ {
  .ngx-pagination {
    .current {
      background: rgb(185, 20, 50);
    }
    .pagination-previous {

      &.disabled {
        span {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 600;
        }
      }

      a {
        color: rgb(185, 20, 50);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
      }
      a:hover {
        background: none;
        text-decoration: none;
      }
    }
    .pagination-next {
      float: right;

      &.disabled {
        span {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 600;
        }
      }

      a {
        color: rgb(185, 20, 50);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
      }
      a:hover {
        background: none;
        text-decoration: none;
      }
    }
  }
}
