<div *ngFor="let item of content;">
  <div class="article-img">
    <img src="{{ item?.mainImg[0].url }}">
  </div>
  <div class="content-container">
    <h2 class="title">{{ item?.title }}</h2>
    <p class="meta">Posted by {{ item.author }} on {{ item.__meta__.createdDate | date: 'd MMMM y' }} in {{ item.category[0].categoryName }}</p>
    <p class="article-text" [innerHtml]="item.contentIntro"></p>
    <div class="social-container">
      <div class="share-btn">Share</div>
      <img class="share-icon" src="/assets/img/share-icon.svg" alt="">
      <img src="/assets/img/fb-icon.png">
      <img src="/assets/img/twitter-icon.png">
      <img src="/assets/img/google-plus-icon.png">
      <img src="/assets/img/email-icon.png">
    </div>
    <!-- <button class="readMore-btn" [routerLink]="['/'+ type, item.id]">Read More</button> -->
    <button class="readMore-btn">Read More</button>
  </div>
  <hr>
</div>
