<footer>
  <div class="toTop-container">
    <a pageScroll href="#top" class="toTop-btn">Back to top</a>
  </div>
  <div class="footer-container">
    <div class="company-container">
      <img class="footer-logo" src="/assets/img/sac-logo.png" alt="Sally-ann Creed Logo">
      <div class="social-container">
        <img src="/assets/img/fb-icon.png" alt="Facebook Icon">
        <img src="/assets/img/twitter-icon.png" alt="Twitter Icon">
        <img src="/assets/img/instagram-icon.png" alt="Instagram Icon">
      </div>
      <div class="copyright-container">
        <p class="terms">Terms of Use</p>
        <p>&copy; {{ currentYear }} Sally-Ann Creed | All rights reserved</p>
        <p>Designed and developed by <span class="company-name">Responsive</span></p>
      </div>
    </div>
    <div class="small-section-container">
      <p class="footer-headings">Quick Contact</p>
      <p>T: +27 21 794 3052 (Office Hours)</p>
      <p>F: +27 21 794 0635</p>
      <p>E: pa@sallyanncreed.co.za</p>
    </div>
    <div class="small-section-container">
      <p class="footer-headings">Sitemap</p>
      <p>About</p>
      <p>Shop Online</p>
      <p>Blog</p>
      <p>Courses</p>
      <p>Recipes</p>
      <p>Contact</p>
    </div>
    <div class="small-section-container">
      <p class="footer-headings">Instagram Feed</p>
    </div>
  </div>
</footer>
