<div>
  <div class="article-img">
    <img src="http://via.placeholder.com/350x150">
  </div>
  <div class="content-container">
    <h2 class="title">Article Title</h2>
    <p class="meta">Posted by AUTHOR on DATE in CATEGORY</p>
    <div class="social-container">
      <div class="share-btn">Share</div>
      <img class="share-icon" src="/assets/img/share-icon.svg" alt="">
      <img src="/assets/img/fb-icon.png">
      <img src="/assets/img/twitter-icon.png">
      <img src="/assets/img/google-plus-icon.png">
      <img src="/assets/img/email-icon.png">
    </div>
    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eveniet nulla neque fuga ipsum iste voluptate quae et? Omnis voluptatum perspiciatis doloribus! Tempore, cum voluptatem. Nam culpa adipisci non aut.</p>
    <div class="social-container">
      <div class="share-btn">Share</div>
      <img class="share-icon" src="/assets/img/share-icon.svg" alt="">
      <img src="/assets/img/fb-icon.png">
      <img src="/assets/img/twitter-icon.png">
      <img src="/assets/img/google-plus-icon.png">
      <img src="/assets/img/email-icon.png">
    </div>
  </div>
  <hr>
</div>
