.shop-container {
  background: url('/assets/img/shop-bg.png');
  height: auto;
  background-repeat: repeat;

  h2 {
    color:  rgb(7, 182, 100);
    border-bottom: 2px solid  rgb(7, 182, 100);
  }

  .shop-content-container {
    display: flex;
    justify-content: center;
    padding: 0 215px 0 215px;

    .shop-col {
      padding: 0 20px 0 20px;

      h3 {
        color:  rgb(7, 182, 100);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
        margin-top: 20px;
      }

      span {
        color:  rgb(7, 182, 100);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
      }

      p {
        font-size: 16px;
        line-height: 30px;
      }

      div {
        margin-top: 30px;
        .shop-price {
          font-size: 22px;
        }
      }
    }
  }
  .shop-btn-container {
    text-align: center;

    button {
      margin-top: 65px;
      background: rgb(7, 182, 100);
      width: 247px;
      height: 60px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1em;
    }
  }
}

.leftRs {
  background: url('/assets/img/nav-slider-arrows-grey.png') no-repeat top left;
  position: absolute;
  margin: auto;
  top: 35%;
  width: 30px;
  height: 60px;
  left: 50px;
  z-index: 999;
  background-size: 71px 60px;
  text-indent: -9000px;
  cursor: pointer;
}

.rightRs {
  background: url('/assets/img/nav-slider-arrows-grey.png') no-repeat top right;
  position: absolute;
  margin: auto;
  top: 35%;
  width: 30px;
  height: 60px;
  right: 50px;
  z-index: 999;
  background-size: 71px 60px;
  text-indent: -9000px;
  cursor: pointer;
}
