<div class="shop-container section-space">

  <div class="title-container">
    <h2>Shop</h2>
  </div>

  <ngx-carousel
  [inputs]="carouselBanner"
  [moveToSlide]="0"
  (onMove)="onmoveFn($event)">

    <ngx-item NgxCarouselItem *ngFor="let slide of _content" class="bannerStyle">

      <div class="shop-content-container">
        <div class="shop-col">
          <img [src]="slide.productImage[0].url">
        </div>
        <div class="shop-col">
          <h3>{{ slide.productTitle }}</h3>
          <span>Out Now</span>
          <div class="product-info" [innerHtml]="slide.productInfo"></div>
          <div>
            <span class="shop-price">R{{ slide.productPrice }}.00 | Buy Now</span>
          </div>
        </div>
      </div>

    </ngx-item>

    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>

  <div class="shop-btn-container">
    <button>Shop All Products</button>
  </div>

</div>
