.content {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 0 50px 0 50px;
  width: 1410px;

  .article {
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 625px;
    height: 196px;
    overflow: hidden;
    float: left;

    &.main {
      height: 423px;
    }
  }

  .main-img {
    width: auto;
    height: 423px;
  }

  .text {
    position: relative;
    background: rgba(255, 255, 255, .9);
    z-index: 2;
    color: rgb(100,100,100);
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    transform:translateY(0%);

    .title {
      font-size: 22px;
      font-size: 22px;
      font-weight: 600;
    }
    .featured-arrow {
      width: 40px;
      position: absolute;
      z-index: 999;
      bottom: 25px;
      right: 30px;
    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}







