<div class="recipeFeat-container section-space">
  <div class="title-container">
    <h2>Featured Recipes</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta vero, quam dolor eligendi quas esse dolore molestias quae veniam similique delectus perferendis blanditiis fugiat nemo.</p>
  </div>
  <div class="recipeFeat-content">
    <div class="article">
      <div class="image">
        <img src="/assets/img/health-recipe-2-2.jpg"/>
      </div>
      <div class="text">
        <div class="title">Dummy Recipe 1</div>
      </div>
    </div>
    <div class="article">
      <div class="image">
        <img src="http://via.placeholder.com/625x196"/>
      </div>
      <div class="text">
        <div class="title">Dummy Recipe 2</div>
      </div>
    </div>
    <div class="article">
      <div class="image">
        <img src="http://via.placeholder.com/625x196"/>
      </div>
      <div class="text">
        <div class="title">Dummy Recipe 3</div>
      </div>
    </div>
    <div class="article">
      <div class="image">
        <img src="http://via.placeholder.com/625x196"/>
      </div>
      <div class="text">
        <div class="title">Dummy Recipe 4</div>
      </div>
    </div>
  </div>
  <div class="recipeFeat-btn-container">
    <button>All Recipes</button>
  </div>
</div>


