.recipeFeat-container {
  background: url('/assets/img/wall-texture-bg.png');
  height: auto;
  background-repeat: repeat;

  h2 {
    color: rgb(221, 38, 135);
    border-bottom: 2px solid rgb(221, 38, 135);
  }

  .recipeFeat-content {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  button {
    background: rgb(221, 38, 135);
  }
}


