<div class="recipeFeat-container section-space">
  <div class="title-container">
    <h2>Featured Recipes</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta vero, quam dolor eligendi quas esse dolore molestias quae veniam similique delectus perferendis blanditiis fugiat nemo.</p>
  </div>
  <app-featured-cards [content]="content" [type]="type"></app-featured-cards>
  <div class="feat-btn-container">
    <button [routerLink]="['/recipes']">All Recipes</button>
  </div>
</div>



