.recipeFeat-container {
  // background: url('/assets/img/shop-bg.png');
  height: auto;
  background-repeat: repeat;

  h2 {
    color: rgb(221, 38, 135);
    border-bottom: 2px solid rgb(221, 38, 135);
  }

  p {
    max-width: 800px;
    margin: 0 auto;
  }

  .recipeFeat-content {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .recipeFeat-btn-container {
    text-align: center;

    button {
      margin-top: 0px;
      background: rgb(221, 38, 135);
      width: 247px;
      height: 60px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1em;
    }
  }

}

.article {
  position: relative;
  margin-bottom: 30px;
  width: 625px;
  height: 196px;
  overflow: hidden;
  img {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  .text {
    background: rgba(255, 255, 255, .9);
    z-index: 2;
    color: rgb(100,100,100);
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    transform:translateY(0%);
    .title {
      font-size: 22px;
      font-size: 22px;
      font-weight: 600;
    }
  }
  .featured-arrow {
    width: 40px;
    position: absolute;
    z-index: 999;
    top: 130px;
    right: 30px;
  }
}
