<div class="recipeFeat-container section-space">
  <div class="title-container">
    <h2>Featured Recipes</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta vero, quam dolor eligendi quas esse dolore molestias quae veniam similique delectus perferendis blanditiis fugiat nemo.</p>
  </div>
  <div class="recipeFeat-content">
    <div *ngFor="let recipe of _recipes;">


      <div class="article">
        <div class="image">
          <img src="{{ recipe?.recipeMainImg[0].url }}"/>
        </div>
        <div class="text">
          <div class="title">{{ recipe.recipeTitle }}</div>
        </div>
        <img class="featured-arrow" src="/assets/img/arrow.svg">
      </div>


    </div>
  </div>
  <div class="recipeFeat-btn-container">
    <button>All Recipes</button>
  </div>
</div>



