.about-container {
  background: #fff;
  height: auto;
  background-repeat: repeat;

  h2 {
    color: rgba(185, 20, 50, 1);
    border-bottom: 2px solid rgba(185, 20, 50, 1);
  }

  .about-content-container {
    display: flex;
    justify-content: center;
    padding: 0 215px 0 215px;

    .about-col {
      padding: 0 20px 0 20px;

      &.img-col-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .main-img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin-bottom: 40px;
      }

      .social-imgs {
        margin-bottom: 40px;

        img {
          margin: 0 15px 0 15px;
        }
      }

      p {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}
