<h2>About</h2>
<div class="about-container">
  <div class="about-col img-col-container">
    <!-- About main img -->
    <img class="main-img" [src]="_about.aboutProfileImg[0].url">
    <!-- Social Media -->
    <div class="social-imgs">
      <img [src]="_about.aboutFbIcon[0].url">
      <img [src]="_about.aboutTwitterIcon[0].url">
      <img [src]="_about.aboutInstgramIcon[0].url">
    </div>
    <div>
      <img [src]="_about.aboutLogo[0].url">
    </div>
  </div>
  <div class="about-col">
    <div [innerHtml]="_about.aboutInfotext"></div>
  </div>
</div>
