<div class="content">
  <ngx-carousel
  [inputs]="carouselBanner"
  [moveToSlide]="1"
  (onMove)="onmoveFn($event)">
    <ngx-item *ngFor="let slide of _content" NgxCarouselItem  class="bannerStyle">
      <div class="article">
        <div class="image">
          <img [src]="slide.slideImage[0].url"/>
        </div>
        <div class="text">
          <h1 class="title">{{ slide.slideTitle }}</h1>
          <div class="excerpt">{{ slide.slideParagraph }}</div>
          <button><a [href]="slide.ctaUrl">{{ slide.ctaText }}</a></button>
        </div>
      </div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
</div>
