<app-home-slider [content]="data.homeSlider"></app-home-slider>
<app-about [about]="data.about"></app-about>
<app-shop [content]="data.shop"></app-shop>
<app-blogs-featured [content]="blogsData"></app-blogs-featured>
<app-courses-featured [courses]="courseData"></app-courses-featured>
<app-recipe-featured [content]="recipeData"></app-recipe-featured>

<!-- <app-featured [content]="recipeData"></app-featured> -->
<!-- <app-featured-cards [content]="recipeData"></app-featured-cards> -->
<!-- <app-featured [content]="recipeData"></app-featured> -->
