<aside>
  <div class="search-container">
    <input class="search-box" type="text" placeholder="Search">
    <button class="search-btn">></button>
  </div>
  <hr>
  <div class="sidebar-section">
    <h4>Categories</h4>
    <ul>
      <li *ngFor="let item of list">{{ item.categoryName }}</li>
    </ul>
  </div>
  <hr>
  <div class="sidebar-section">
    <h4>Latest Posts</h4>
    <ul>
      <li *ngFor="let title of latestPosts">
        <a [routerLink]="['/'+ type, title.id]" href="">{{ title.title }}</a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="sidebar-section">
    <h4>Most Popular Posts</h4>
    <ul>
      <li>...</li>
    </ul>
  </div>
</aside>
