<aside>
  <div class="search-container">
    <input class="search-box" type="text" placeholder="Search">
    <button class="search-btn">></button>
  </div>
  <hr>
  <div class="sidebar-section">
    <h4>Categories</h4>
    <ul *ngFor="let item of list">
      <li>{{ item.categoryName }}</li>
    </ul>
  </div>
  <hr>
  <div class="sidebar-section">
    <h4>Latest Posts</h4>
    <ul>
      <li>Blog Article 1</li>
      <li>Blog Article 2</li>
      <li>Blog Article 3</li>
    </ul>
  </div>
  <hr>
  <div class="sidebar-section">
    <h4>Most Popular Posts</h4>
    <ul>
      <li>Blog Article 22</li>
      <li>Blog Article 65</li>
      <li>Blog Article 12</li>
    </ul>
  </div>
</aside>
