<div class="mailer-container section-space">
  <div class="title-container">
    <h2>Contact</h2>
  </div>
  <div class="contactForm-container">
    <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form.value, form.valid)">
      <div class="input-container">
        <div class="input">
          <label for="name">Name &amp; Surname<span>*</span></label>
          <input
            type="text"
            name="contact_name"
            id="name"
            required
            #contactName="ngModel"
            ngModel
            placeholder="Name &amp; Surname">
            <div *ngIf="contactName.errors?.required && contactName.dirty" class="error">
              Name and Surname is required
            </div>
        </div>
        <div class="input">
          <label for="email">Email<span>*</span></label>
          <input
            type="text"
            name="contact_email"
            required
            #contactEmail="ngModel"
            ngModel
            id="email"
            placeholder="Email">
            <div *ngIf="contactEmail.errors?.required && contactEmail.dirty" class="error">
              Email is required
            </div>
        </div>
        <div class="input">
          <label for="contact">Contact Number<span>*</span></label>
          <input
            type="text"
            name="contact_number"
            required
            #contactNumber="ngModel"
            ngModel
            id="contact"
            placeholder="Contact Number">
            <div *ngIf="contactNumber.errors?.required && contactNumber.dirty" class="error">
              Contact number is required
            </div>
        </div>
        <div class="input">
          <label for="subject">Subject<span>*</span></label>
          <input
            type="text"
            name="contact_subject"
            required
            #contactSubject="ngModel"
            ngModel
            id="subject"
            placeholder="Subject">
            <div *ngIf="contactSubject.errors?.required && contactSubject.dirty" class="error">
              Subject is required
            </div>
        </div>
        <div class="input grow">
          <label for="message">Message<span>*</span></label>
          <textarea
            name="contact_textarea"
            required
            #contactMessage="ngModel"
            ngModel
            rows="5"
            id="message"
            placeholder="Type your message here"
            >
          </textarea>
          <div *ngIf="contactMessage.errors?.required && contactMessage.dirty" class="error">
            Message is required
          </div>
        </div>
      </div>
      <button class="submit-btn" type="submit" [disabled]="form.invalid">Submit</button>
    </form>
  </div>
</div>
