.mailer-container {
  height: auto;

  h2 {
    color: rgb(50,210,155);
    border-bottom: 2px solid rgb(50,210,155);
  }

  .contactForm-container {
    margin: 0 auto;
    width: 860px;

    .input-container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .input {
        position: relative;
        margin-top: 40px;

        &.grow {
          flex-grow: 1;
        }

        label {
          color: rgb(100, 100, 100);
          position: absolute;
          top: -12px;
          font-size: 16px;
          margin-bottom: 10px;
          display: block;

          span {
            color: rgb(50,210,155);
            font-size: 22px;
            padding: 0;
            line-height: 0;
            margin-top: 13px;
            display: block;
            float: right;
          }
        }
      }
    }

    .submit-btn {
      display: block;
      margin: 0 auto;
      margin-top: 60px;
      background: rgb(50,210,155);
      width: 247px;
      height: 60px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1em;
    }
    .submit-btn:disabled {
      cursor: not-allowed;
      background: #a6c7bc;
    }
  }
}

input[type=text],
input[type=email],
input[type=number],
textarea {
  border: 1px solid rgb(204,204,204);
  width: 405px;
  padding: 11px;
  margin: 20px 0px 0px 0px;
}

textarea {
  width: 100%;
}

::-webkit-input-placeholder {
  color: rgb(204,204,204);
}

::-moz-placeholder {
  color: rgb(204,204,204);
}

:-ms-input-placeholder {
  color: rgb(204,204,204);
}

:-moz-placeholder {
  color: rgb(204,204,204);
}

.error {
  color: #da6969;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
