.mailer-container {
  height: auto;

  h2 {
    color: rgb(50,210,155);
    border-bottom: 2px solid rgb(50,210,155);
  }

  .contactForm-container {
    margin: 0 auto;
    width: 860px;

    .input-container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .input {
        position: relative;
        margin-bottom: 15px;

        label {
          color: rgb(100, 100, 100);
          position: absolute;
          top: -10px;
          font-size: 16px;
        }
      }
    }

    .submit-btn {
      display: block;
      margin: 0 auto;
      margin-top: 0px;
      background: rgb(50,210,155);
      width: 247px;
      height: 60px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1em;
    }
  }
}

input[type=text],
input[type=email],
input[type=number],
textarea {
  border: 1px solid rgb(204,204,204);
  width: 405px;
  padding: 11px;
  margin: 20px 0px 20px 0px;
}

textarea {
  width: 100%;
  margin-bottom: 60px;
}

::-webkit-input-placeholder {
  color: rgb(204,204,204);
}

::-moz-placeholder {
  color: rgb(204,204,204);
}

:-ms-input-placeholder {
  color: rgb(204,204,204);
}

:-moz-placeholder {
  color: rgb(204,204,204);
}
