<nav id="top">
  <div class="nav-left">
    <a
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
    <a>
      Shop Online
    </a>
    <a
      [routerLink]="['page/blog']"
      routerLinkActive="active"
      >
      Blog
    </a>
  </div>
  <img [src]="logo" class="logo" alt="">
  <div class="nav-right">
    <a *ngFor="let link of linksRight" [routerLink]="[link.path]" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      {{link.label}}
    </a>
  </div>
</nav>
